@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>
        Circuit braker state: <span style="color:red"> @ViewBag.State</span>
    </h2>
</div>
<div class="jumbotron">
    <h2>
        Circuit braker closed since: <span style="color:red"> @ViewBag.OpenSince</span>
</h2>
</div>
<div class="jumbotron">
    <h2>
        Circuit braker timeout count: <span style="color:red"> @ViewBag.TimeOutCount</span>
    </h2>
</div>



